.root {
    background-color: #11284b;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #062343 70%);
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
    min-height: 300px;
    position: relative;
}

.root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--hero-background-image);
    background-size: cover;
    background-position: center;
    opacity: 0.12;
    z-index: 0;
}

.inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.image {
    @media (max-width: 768px) {
        display: none;
    }
}

.content {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    margin-right: calc(var(--mantine-spacing-xl) * 3);

    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.title {
    color: var(--mantine-color-white);
    font-family: Outfit, var(--mantine-font-family);
    font-weight: 500;
    line-height: 1.05;
    max-width: 500px;
    font-size: 48px;

    @media (max-width: 768px) {
        max-width: 100%;
        font-size: 34px;
        line-height: 1.15;
    }
}

.description {
    color: var(--mantine-color-white);
    opacity: 0.75;
    max-width: 500px;

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.control {
    padding-left: 50px;
    padding-right: 50px;
    font-family: Outfit, var(--mantine-font-family);
    font-size: 22px;

    @media (max-width: 768px) {
        width: 100%;
    }
}